<ng-container *ngIf="students">
  <table class="table table-dark table-striped mt-5">
    <thead>
    <tr>
      <th scope="col" *ngFor="let column of ['#','Fullname','Faculty','Year','Age','Options']">{{column}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container  *ngFor="let student of students;">
      <tr>
        <th>{{student.id}}</th>
        <td>{{student.fullname}} </td>
        <td>{{student.faculty}}</td>
        <td>{{student.year}}</td>
        <td>{{student.age}}</td>
        <td>
          <!-- just remove by id -->
          <button (click)="onRemoveOption(student.id)" class="btn btn-danger">  remove</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-container>
