<div class="container w-75 mt-5">
  <!--
       Reactive Forms is created inside component class so it is also referred as model driven forms.
       Every form control will have an object in the component and this provides greater control and
       flexibility in the form programming. Reactive Form is based on structured data model.
       it's easy to validate value
  -->
  <strong>Reactive Forms **** Works with FormBuilder, FormGroup</strong>
  <div class="form-control">
    <!-- **** -->
    <form [formGroup]="formGroup1" (ngSubmit)="onSubmitFormUser(formGroup1)" class="form form-control mt-1">

      <div class="form-floating mb-3">
        <!-- *** Remember get value from tags *** just mapped the formControlName  -->
        <input [formControlName]="'email'" type="email" class="form-control" placeholder="name@example.com">
        <label>Email address</label>
        <div *ngIf="formGroup1.controls['email'].invalid && formGroup1.controls['email'].touched">
          <span class="badge bg-danger">Invalid Format</span>
        </div>
        <div *ngIf="!formGroup1.controls['email'].invalid">
          <span class="badge bg-success">Valid Format</span>
        </div>
      </div>

      <div class="form-floating mb-3">
        <!-- *** Remember get value from tags *** just mapped the name  -->
        <input [formControlName]="'username'" type="text" class="form-control" placeholder="name...">
        <label>Username</label>
        <div *ngIf="formGroup1.controls['username'].invalid && formGroup1.controls['username'].touched">
          <span class="badge bg-danger">Invalid Format</span>
        </div>
        <div *ngIf="!formGroup1.controls['username'].invalid">
          <span class="badge bg-success">Valid Format</span>
        </div>
      </div>

      <!-- Radio buttons use same name difference value -->
      <strong>Gender</strong>
      <div class="form-check">
        <input [formControlName]="'gender'" [value]="'Male'" class="form-check-input" type="radio" name="gender" id="exampleRadios1"  checked>
        <label class="form-check-label" for="exampleRadios1">
          Male
        </label>
      </div>
      <div class="form-check">
        <input [formControlName]="'gender'" [value]="'Female'" class="form-check-input" type="radio" name="gender" id="exampleRadios2">
        <label class="form-check-label" for="exampleRadios2">
          Female
        </label>
      </div>
      <button type="submit" class="btn btn-secondary mt-2">Submit</button>
    </form>

    <!-- **** -->
    <form [formGroup]="formGroup2" (ngSubmit)="onSubmitFormAddress(formGroup2)" class="form form-control mt-2">
      <div class="form-floating mb-3">
        <input [formControlName]="'address'" type="text" class="form-control" placeholder="address...">
        <label>Local address</label>
        <div *ngIf="formGroup2.controls['address'].invalid && formGroup2.controls['address'].touched">
          <span class="badge bg-danger">Invalid Format</span>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input [formControlName]="'zipcode'" type="text" class="form-control" placeholder="zipcode...">
        <label>Zipcode</label>
        <div *ngIf="formGroup2.controls['zipcode'].invalid && formGroup2.controls['zipcode'].touched">
          <span class="badge bg-danger">Invalid Format</span>
        </div>
      </div>
      <span *ngIf="formGroup2.value['zipcode']  && formGroup2.value['address']" class="badge bg-success">
        {{ JSON.stringify(formGroup2.value) }}
      </span>
      <br>
      <button type="submit" class="btn btn-secondary mt-2">Submit</button>
    </form>
  </div>

</div>
