<div class="container w-75 mt-5">
  <strong>Form Module *** (Template driven forms) *** Two way ***</strong>
  <form class="form-floating mb-3" (submit)="onSubmit()">
    <input [(ngModel)]="student.fullname" name="fullname" type="text" class="form-control">
    <label>Fullname</label>
    <br>
    <!-- Radio buttons if student.faculty equal some values below will check auto -->
    <strong>Faculty</strong>
    <div class="form-check">
      <input [(ngModel)]="student.faculty" [value]="'Faculty of Architecture'" class="form-check-input" type="radio" name="faculty" id="exampleRadios1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Faculty of Architecture
      </label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="student.faculty" [value]="'Faculty of Agriculture'" class="form-check-input" type="radio" name="faculty" id="exampleRadios2">
      <label class="form-check-label" for="exampleRadios2">
        Faculty of Agriculture
      </label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="student.faculty"  [value]="'Faculty of Science'" class="form-check-input" type="radio" name="faculty" id="exampleRadios3">
      <label class="form-check-label" for="exampleRadios2">
        Faculty of Science
      </label>
    </div>
    <br>
    <input [(ngModel)]="student.year" name="year" min="1" max="4" type="number" class="form-control">
    <label>Year</label>
    <br>
    <input [(ngModel)]="student.age" name="age"  type="number" class="form-control">
    <label>Age</label>
    <br>
    <button type="submit" class="btn btn-secondary mt-2">Submit</button>
  </form>
</div>
